* {
    cursor: none !important;
    font-family: cursive;
}

.my-span:nth-child(1) {
    --i: 0;
}

.my-span:nth-child(2) {
    --i: 1;
}

.my-span:nth-child(3) {
    --i: 2;
}

.my-span:nth-child(4) {
    --i: 3;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: unset;
}

#navi {
    position: sticky;
    top: 0;
}

nav {
    color: white;
    display: flex;
    border-radius: 2em;
    margin: 10px;
    padding-left: 10px;
    z-index: 5;
    position: sticky;
    top: 0;
    height: 5em;
    border: 1px solid green;
    backdrop-filter: blur(10px);
    background-color: rgb(0 0 0 / 66%);
}

nav .profile canvas {
    border: 1px solid green;
    border-radius: 50%;
    padding: 0.3em;
    padding-bottom: 0.4em;
}

.icon {
    width: 20%;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

.links {
    width: 60%;
    margin: auto;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #1fd911;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 20px;
}

.profile {
    width: 10%;
    margin: auto;
    margin-left: 2em;
    text-align: center;
}

.search {
    width: 10%;
    margin: auto;
    text-align: center;
}

.links>ul {
    display: flex;
    list-style: none;
    padding: 0.4em;
    justify-content: space-around;
    margin: auto;
    font-size: 1.5vw;
}

.links2 {
    display: none;
}

.links>ul>li {
    padding-inline: 1em;
    transition: 0.7s;
    transform-origin: left;
    border-bottom: 1px dotted transparent;
}

.links>ul>li:hover {
    border-bottom: 1px dotted green;
}

.Most-pop-head {
    margin-top: 3em;
    margin-left: 1em;
    display: flex;
}

.Most-pop-head h1 {
    border-bottom: 1px solid green;
}

.MostPopular {
    background-image: url(../../../media/MostPopularSites.jpg);
    background-position: center;
    background-size: cover;
    width: 90%;
    margin: auto;
    border-radius: 2em;
    overflow: hidden;
    margin-block: 2em;
}

.content {
    width: 40%;
    padding-left: 4em;
    padding-top: 1em;

}

.cont-head {
    display: flex;
    margin-bottom: -1em;

}

.cont-body {
    border-bottom: 2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 1.4em;
    margin-block: 1em;
    background-color: #1ed91159;
    transition: .5s linear;
}

.head-text {
    letter-spacing: 7px;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid black;
    border-radius: 0.7em;
    background-color: #1ed91159;
    font-size: 3vw;
    font-family: Georgia, serif;
    padding: 0.5em;
    transition: .5s linear;
}

.body-text {
    font-size: 2vw;
    padding: 1em;
    letter-spacing: 2px;
}

.Tabs {
    display: flex;
    width: 100%;
    height: 30%;
    margin-top: 7em;
    vertical-align: bottom;
}

.Tabs div {
    flex: 1;
    border: 1px solid black;
    border-right: none;
    padding: 1em;
    height: 100%;
    text-align: center;
    vertical-align: baseline;
}

.vid {
    height: 40em;
}

#background-video {
    margin-top: -20em;
    width: 100%;
    height: 83em;
    z-index: -12;
    position: inherit;
}

.hero {

    margin-left: 2em;
    padding: 2em;
    color: white;
    max-height: 45vh;
    width: 30%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    border: 1px solid #1fd911;
}

.herobox {
    width: 70%;
}

.hero-sec {
    display: flex;
    margin-top: 12em;
    height: 40em;
}

.comp-name {
    color: #1fd911;
    font-weight: bold;
}

.hero-text {
    margin-top: -1em;
    display: flex;
}

.hero-text>p {
    font-size: em;

}

.typing-container {
    font-family: 'Courier New', monospace;
    font-size: 35px;
    margin-top: 0.5em;
    white-space: pre-wrap;
    /* This preserves line breaks */
    width: 100%;
    /* Responsive width */
    max-width: 100%;
    /* Ensures it doesn't overflow */
}

.typed-text {
    text-align: center;
}

.video-wrapper {
    top: -6.22em;
    position: relative;
    background: #6bf16b69;
}

/* Blinking cursor style */
#cursor {
    display: inline-block;
    font-weight: bold;
    margin-left: 2px;
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

nav ul>li:nth-child(4) {
    display: flex;
    width: 20%;
    padding: 0;
    justify-content: center;
}

.profile a {
    cursor: pointer;
}

.profile a:hover {
    color: rgba(0, 255, 42, 0.5);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    top: 1.4em;
    left: -3em;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -6.3em;
    overflow: hidden;
}


.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.contents {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 50vh;
    color: white;
}

.top {
    height: 80%;
}

.bottom {
    height: 20%;

}

.cards {
    display: flex;
    position: relative;
    bottom: 0;

}

.cards div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: .5s;
    height: 5em;
}

.cards div img {
    display: flex;
    width: 3em;
    position: relative;
    top: calc((50/100)-1.5em);
    margin: auto;
    vertical-align: middle;
    object-fit: cover;
}

.card-2 img {
    width: 4em;
    height: 4em;
    margin-top: -1em;
}

.card-1 {
    background-color: aqua;
}

.card-2 {
    background-color: rgb(8, 102, 255);
}

.card-3 {
    background-color: rgb(1, 107, 28);
}

.card-4 {
    background: linear-gradient(23deg, #ec8211, #e6683c, #dc2743, #cc2366, #d8139a);

}

.section {


    /* So we scroll to this section */
    transition: transform 0.3s;
}

.fixed {
    position: sticky;
    top: 0;
    width: 100%;
    /*  transition: transform 0.3s; /* Start with no translation */
}

.moved {
    transform: translateY(-40px);
    /* Move 40px upwards */
}

.Newsletter {

    display: flex;
    justify-content: flex-end;
    background-image: url(../../../media/cameron.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid green;

}

.news-pop {
    padding: 1em;
    width: 50%;
    justify-content: end;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 9), rgba(255, 255, 255, 9), rgba(255, 255, 255, 9), rgba(255, 255, 255, 9));

}

.news-pop h1 {
    font-size: 3em;
    letter-spacing: 5px;
    justify-self: center;
    text-align: center;
    margin: auto;
    padding: 0.2em;
    display: flex;
    width: fit-content;
    border-bottom: 1px solid green;

}

.newsText {
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
}

.news-pop input[type="email"] {
    padding: 0.5em;
    height: 3em;
    width: 70%;
    border: 1px solid green;
    border-radius: 5px;

}

.news-pop form {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding-bottom: 1em;
}

.news-pop input[type="submit"] {
    background-color: green;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.herobox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -7em;
    height: 50vh;
}

.my-span {
    display: flex;
    justify-content: center;
    align-items: center;

}

.my-span img {
    width: 60%;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s infinite linear;

}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }

}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}

.top-card {
    transform: rotateX(90deg);
    background: #151515;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateX(90deg) translateZ(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4em;
}

.top-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ec00;
    transform: translatez(-250px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
        rgba(0, 255, 0, 0.4),
        rgba(0, 255, 0, 0.6),
        rgba(0, 255, 0, 0.8),
        rgba(0, 255, 0, 1);
}

.custom-cursor,
.custom-pointer {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.custom-pointer {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* Hide cursor on touch devices */
@media (hover: none) and (pointer: coarse) {

    .custom-cursor,
    .custom-pointer {
        display: none;
    }
}

.rssfeed {
    padding: 4em;
    background: rgb(245, 245, 247);
}

.custom-cursor,
.custom-pointer {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.custom-pointer {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* Hide cursor on touch devices */
@media (hover: none) and (pointer: coarse) {

    .custom-cursor,
    .custom-pointer {
        display: none;
    }
}

/* information page styles */
.Mission {
    padding: 3em;
    display: flex;
}

.MissionLeft {
    width: 60%;
}

.Mission .title {
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 1em;
}

.Mission .Text {
    text-align: justify;
    color: gray;
    padding-inline-end: 2em;
    font-size: 1.2em;
    line-height: 1.4em;
}

.MissionBottom {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.MissionBottom>div:nth-child(1) {
    background-color: black;
    color: white;
}

.MissionBottom div {
    width: 44%;
    min-width: 11.5em;
    border: 2px solid #a3a3a3;
    padding: 0.5em;
    border-radius: 1em;

}

.MissionBottom div h2 {
    font-size: 1.2em;
}

.MissionBottom div p {
    color: gray;
    font-size: 1.2em;
}

.MissionRight {
    background-image: url(https://images.pexels.com/photos/4143797/pexels-photo-4143797.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    border: 1px solid black;
    border-radius: 1em;
}

.MoreMission {
    padding: 4em;
    margin: auto;
    background-color: #000;
    color: white !important;
}

.MMtop {
    text-align: center;
    color: white;
    padding: 1em;

}

.MMtop2 h1 {
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 1em;
}

.moreInfo {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4em;
}

.moreInfo>div {
    width: 29%;
    border: 2px solid #a3a3a3;
    padding: 1em;
    border-radius: 1em;
}

e .moreInfo .cardtext {
    color: gray;
    line-height: 1.5em;
    margin-block: 1em;
}

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.custom-pointer {
    position: fixed;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

/* .custom-cursor, .custom-pointer {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none; /* Prevent interference with mouse events 
  }

  .custom-cursor {
    border: 2px solid black; /* Set initial border color 
    z-index: 9999; /* Ensure it appears above other elements 
  }

  .custom-pointer {
    background-color: black; /* Set initial background color 
    z-index: 9998;
    width: 5px;
    height: 5px;
  } */
/* Hide cursor on touch devices */
@media (hover: none) and (pointer: coarse) {

    .custom-cursor,
    .custom-pointer {
        display: none;
    }
}

.ParentsSection {
    padding: 4em;
    padding-top: 0;
}

.p-top h1 {
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;

}

.Parent-info-cont {
    justify-content: space-around;
    background: rgb(245, 245, 247);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    border-radius: 1em;
}

.parent-info {
    width: 40%;
    min-width: 25em;
    border: 2px solid #a3a3a3;
    padding: 1em;
    border-radius: 1em;
}

.parent-info p {
    color: gray;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-block: 1em;
}

.parent-info img {
    height: 15em;
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
}


/* ------------live streaming page styles---------- */
.LiveStreaming {
    background-image: url(../../../media/livestreem.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40em;
    padding-top: 1em;
}

.L-intro {
    height: 44%;
    width: 50%;
    font-size: 1.2em;
    line-height: 1.5em;
    align-items: center;
    padding: 2em;
    color: white;
    padding-top: 10em;
}

.L-section {
    background-color: #000;
    color: white;
    padding-top: 1em;
}

.L-header>h1 {
    font-size: 2em;
    padding: 2em;
    text-transform: capitalize;
}

.L-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3em 1em;
    padding: 2em;
    border-radius: 1em;
}

.L-info {
    width: 20%;
    min-width: 20em;
    border: 2px solid #a3a3a3;
    padding: 1em;
    border-radius: 1em;
}

.L-info h1 {
    font-size: 1.5em;
    text-transform: capitalize;
}

.L-info p {
    color: gray;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-block: 1em;
}

.L-info img {
    height: 15em;
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
}

.L-haras {
    margin: 4em;
    border: 1px solid black;
    overflow: hidden !important;
    width: fit-content;
    border-radius: 2em;
    display: flex;
}

.L-haras .cont {
    padding: 1em;
    width: 50%;
}

.L-haras>div {
    width: 50%;
}

.L-balance {
    margin: 4em;
    border: 1px solid black;
    overflow: hidden !important;
    width: fit-content;
    border-radius: 2em;
    display: flex;
}

.L-balance .cont {
    padding: 1em;
}


/* -----------------contact page styles------------------- */
.contHeadSection {
    height: 30em;
    background-image: url(../../../media/contact2D.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1em;
}

.contHeadSection .head h1 {
    color: white;
    font-size: 5em;
    text-align: center;
    text-transform: capitalize;
}

.contSection {
    width: 80%;
    height: 30em;
    margin: auto;
    display: flex;
    margin-top: 5em;
}

.C-left {
    width: 60%;
}

.C-emp input {
    margin: 1em;
    padding: 1em;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 2em;
    background-color: lightgray !important;
}

.C-msg input {
    margin: 1em;
    display: block;
    padding: 1em;
    width: 94%;
    border: 1px solid #ccc;
    border-radius: 2em;
    background-color: lightgrey;
}

.C-msg textarea {
    background-color: lightgray;
    border-radius: 2em;
    border: none;
    margin: 1em;
    width: 95%;
    padding: 1em;
}

.C-left input[type="submit"] {
    margin: 1em;
    padding: 1em 3em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.policy {
    display: flex;
    justify-content: space-between;
}

.policy div {
    display: flex;
    align-items: center;
}

.policy input[type="checkbox"] {
    cursor: pointer;
}

.C-right {
    width: 40%;
    height: 100%;
    margin-left: 2em;
    background-image: url(https://images.pexels.com/photos/6953669/pexels-photo-6953669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2em;
    overflow: hidden;
}

.R-content {
    position: relative;
    top: 0;
    padding: 1em;
    left: 0;
    bottom: 0;
    height: -webkit-fill-available;
    padding-top: 1em;
    background-color: rgba(128, 128, 128, 0.493);
}

.R-content h2 {
    text-align: center;
    font-size: 2em;
}

.R-content p {
    text-align: center;
    font-size: 1.8vw;
    line-height: 1.5em;
}

.R-content input {
    margin-block: 1em;
    padding: 0.6em;
    border: none !important;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2em;
    display: block;
    background-color: white !important;
    font-size: 1.2em;
}

.R-content input[type="submit"] {
    background-color: black !important;
    color: white;
    border: none !important;

}

.C-details {
    width: 80%;
    margin: 9em auto 3em !important;
    display: flex !important;
    flex-wrap: wrap;
    gap: 2em;

}

.details {
    width: 27%;
    min-height: 11em;
    padding: 1em;
    border-radius: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid gray !important; */
}

.details .d-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

i {
    width: 20%;
}

.d-top i img {
    width: 100%;
    height: auto;
}

.d-top p {
    font-size: 1.4em;
}

.d-text {
    margin-top: 0.5em;
}

.C-details>.details:nth-child(1) {
    background-color: gray !important;
}

.C-details>.details:nth-child(2) {
    background-color: lightgray !important;
}

.C-Map {
    width: 80%;
    margin: auto !important;
    border-radius: 2em;
    overflow: hidden;
    border: 1px solid black !important;
}

.Map {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: none !important;
}

@media screen and (min-width: 982px) {
    .R-content p {
        font-size: 1.2em;
    }
}


/* ----------------------legislation and guidance page---------------------- */
.Legi-head {
    background-image: url(https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    padding-top: 1em;
    height: 33em;
}

.L-head>h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;

}

.L-headText {
    margin-top: 10em;
    color: white;
    width: 50%;
    padding-left: 5em;
    line-height: 1.5em;
}

.LG-content {
    width: 90%;
    margin: auto;
}

.LG-sec {
    padding: 5em 0;
    display: flex;
    border-bottom: 1px solid gray;

}

.LG-num {
    display: flex;
    background-color: white;
    width: 10%;
    align-items: center;
    padding-left: 0.5em;
    font-size: 4em;
}

.LG-img {
    width: 45%;
}

.LG-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.LG-cont {
    width: 45%;
    padding: 1em;
}

/* .................... register page styles---------------------- */

.register {
    display: flex;
    width: 80%;
    height: 40em;
    border-radius: 2em;
    margin: auto;
    font-size: 0.9em;
    margin-top: 3em;
    overflow: hidden;
}

.reg-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url(https://img.freepik.com/free-vector/technology-background-with-waves_23-2148451910.jpg?ga=GA1.1.1841500845.1722947546);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
}

.reg-right {
    width: 50%;
    padding: 1em 4em;
    background-color: white;
}

.reg-names {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}

.reg-names>div {
    width: 45%;
}

.reg-names input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 7px;
}

#registerForm>.reg-input>input,
#registerFormd input[type="text"] {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 5px;

}

#registerForm>.reg-input {
    margin-top: 1em;
}

/* #registerForm input[type="submit"]{
    width: 103%;
} */
.reg-input {
    display: flex;
    flex-direction: column;
}

.reg-right #policy input[type="submit"] {
    padding: 0.2em 0.9em;
    border: 1px solid gray;
    border-radius: 5px;
}

#policy {
    margin-top: 0.7em;

}

#registerForm input {
    background-color: lightgray;
}

#registerForm .g_id_signin {
    margin: 1em;
}

.reg-welcome {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3em;
    width: 85%;
    height: 85%;
    border-radius: 1em;
    background-color: rgb(255 255 255 / 13%);
    backdrop-filter: blur(4px);
}

.reg-welcome div {
    margin: auto !important;
    max-width: 6em;
    text-align: left;

}

/* -----------------------login page styles---------------------------- */

.Login {
    display: flex;
    width: 80%;
    height: 40em;
    border-radius: 2em;
    margin: auto;
    font-size: 0.9em;
    margin-top: 3em;
    overflow: hidden;
}

.log-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url(https://img.freepik.com/free-vector/technology-background-with-waves_23-2148451910.jpg?ga=GA1.1.1841500845.1722947546);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
}

.log-left {
    width: 45%;
    padding: 7em 3em;
    background-color: white;
}

.log-right .log-welcome {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3em;
    width: 85%;
    height: 85%;
    border-radius: 1em;
    background-color: rgb(255 255 255 / 13%);
    backdrop-filter: blur(4px);

}

.log-welcome div {
    margin: auto !important;
    max-width: 6em;
    text-align: left;
}

.log-input input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 20px;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Login input[type="submit"] {
    padding: 0.2em 0.9em;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 3em;
    width: 100%;
}

.log-line {
    display: flex;
}

.log-line hr {
    transform: rotate(90deg);
    height: 3em;

}

.google {
    display: flex;
    justify-content: center;
}

.dont-have-account {
    margin-top: 1em;
    text-align: center;
}


/* -----------------------footer styles---------------------------- */
.ft-top {
    display: flex;
    height: 10em;
}

.ft-t-left {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 40%;
    background-color: #333;
    color: white;
    padding: 2em;
}

.ft-t-left div:nth-child(2) {
    font-size: 2em;
}

.ft-t-right {
    width: 60%;
    background-color: #f8f9fa;
    color: #333;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-t-right div {
    background-color: #333;
    display: flex;
    width: 80%;
    border-radius: 2em;
    overflow: hidden;
    border: 1px solid #333;
}

.ft-t-right div input[type="email"] {
    background-color: #333;
    border: none;
    color: white;
    width: -webkit-fill-available;
}

.ft-t-right div input[type="submit"] {

    font-size: 2em;
    width: 9em;
    border-radius: 2em;
}


.p-dropdown {
    position: relative;
    display: inline-block;
    color: #000;
    border-radius: 1em;

}

.p-dropdown-content>div {
    display: flex;
}

.p-dropdown-content .firstLetter {
    font-size: 1em;
    padding-inline: 15px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green !important;
}

.p-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.p-dropdown-content a {
    color: black;
    padding: 12px 16px;
    width: 100%;
    text-decoration: none;
    display: block;
}

.p-dropdown-content div:hover {
    color: #000;
    background-color: #a8ffa8;
}

.p-dropdown-content a:hover {
    color: #000;

}


.p-dropdown:hover .p-dropdown-content {
    display: block !important;
}

.pro {
    padding: 2em;
}

.pro-bottom {
    display: flex !important;

}

.pro-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    padding: 1em;
}

.pro-left>div {
    padding: 0.5em;
    background-color: #a8ffa8;
    width: 100%;
    margin-bottom: 1px;
}

.pro-right {
    width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    height: 27em;
}

#editAccountForm div {

    margin-bottom: 1em;
}

#editAccountForm .names {
    display: flex;

    justify-content: space-between;
}



.timestamp {
    width: 25em;
    text-align: center;
}

#editAccountForm .names div {
    display: flex;
    flex-direction: column;
    width: 45%;

}

#content-source {
    display: none;
}

#editAccountForm input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 20px;
}

.social-cards {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.Soc-Card {
    border: 1px solid #ccc;
    border-radius: 1em;
}

.Soc-top {

    width: 100%;
    display: flex;

}

.social-cards .Soc-Card {
    width: 30%;
    margin-bottom: 1em;
}

.social-cards .Soc-Card img {
    width: 90%;
    margin: auto;
}

/* -----------------------responsive styles---------------------------- */

@media screen and (max-width: 917px) {
    .typing-container {
        font-size: 30px;
    }
}

@media screen and (max-width: 855px) {
    .L-haras {
        margin: 4em;
        border: 1px solid black;
        overflow: hidden !important;
        margin: auto;
        width: fit-content;
        border-radius: 2em;
        display: flex;
        flex-direction: column-reverse;
        width: 70%;
        margin-top: 50;
    }

    .L-haras>div {
        width: 100%;
    }

    .L-haras .cont {
        width: 90%;
    }
}

@media screen and (max-width: 785px) {
    .links {
        display: none;
    }

    .links2 {
        display: flex;
        padding: 1em;
        background-color: green;
        vertical-align: middle;
        align-items: center;
        border-radius: 2em;
    }

    .links2 .dropbtn {
        font-size: 1.2em;

    }

    nav {
        height: 4em;
    }

    .hero-sec {
        flex-direction: column;
    }

    .hero {
        margin: auto;
        width: 70%;
    }

    .video-background {
        height: 60em;
    }

    .herobox {
        margin: auto;
    }

    .content {
        width: 70%;
        padding-left: 2em;
        padding-top: 1em;
    }

    .body-text {
        font-size: 1em;
        padding: 1em;
        letter-spacing: 2px;
    }

    .head-text {
        font-size: 1.2em;
        font-family: revert-layer;
    }

    .news-pop h1 {
        font-size: 2em;
    }
}